:root {
  --dark-blue: rgb(6, 6, 46);
  --white: rgb(255, 255, 255);
  --dark: #0f0e0d; 
  --shadow: #0f0e0dc2;
  --delete-red: #8b0000;
  --light-yellow: #dada9d;
}

/* GENERAL STYLE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--dark);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  margin-top: 10rem;
}

/* PROJECTS STYLE */
.nav-style {
  background-color: var(--dark-blue);
  color: var(--white);
}

.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-counter {
  border-radius: 50%;
  background-color: var(--light-yellow);
  padding: 0.3rem;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  font-size: 0.6rem;
}

.card {
  padding: 1.5rem;
  width: 80%;
}

.card button {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 1rem;

}

.card button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 103%;
}


.img {
  width: 7rem;
  height: 7rem;
  border: 2px solid var(--white);
  border-radius: 1rem;
}

.table {
  width: 80%;
}

.btn-item {
  color: var(--dark-blue);
}


@media screen and (max-width: 992px) {
  body {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }

  .card {
    width: 100%;
  }

  .table {
    width: 100%;
  }
  .img {
    width: 4rem;
    height: 4rem;
  }

  .btn-item {
    font-size: 0.8rem;
  }
}